.cover-1 img {
  width: 300px;
  height: 300px;
}

.cover-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.outline-rainbow {
  width: 75%;
  height: 2px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.container h1 {
  font-family: "Chivo", sans-serif;
}

.container-body-lyric {
  text-align: center;
}

.container-body2 {
  background-color: rgba(9, 9, 9, 0.678);
  color: #ffffff;
  text-align: center;
}

.container-body {
  background-color: rgba(9, 9, 9, 0.678);
  color: #ffffff;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../img/roselia3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-color: #47216e;
}
.navbar .navbar-brand {
  font-family: "Josefin Sans", sans-serif;
}
.navbar .navbar-nav .nav-link {
  color: #fff;
}
.navbar .navbar-nav .nav-link:hover {
  color: #fbc531;
}
.navbar .navbar-nav .active > .nav-link {
  color: #fbc531;
}

footer a.text-light:hover {
  color: #fed136 !important;
  text-decoration: none;
}
footer .cizgi {
  border-right: 1px solid #535e67;
}
@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}
